<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Willkommen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-subtitle>Steuererklärung für 2018</ion-card-subtitle>

  <p>Hallo Franki.</p>
  <p>Als Software-entwickler wird dir die IT-Haftpflicht­versicherung dringend empfohlen.</p>

  <ion-button href="#" expand="full" color="medium">Zeig sie mir</ion-button>

  <p><strong>Keine Zeit, keine Lust.</strong></p>
  <p>Einer unserer Versicherungsmakler/innen wird sich darum kümmern und dich bei Fragen kontaktieren.</p>
  <p>Wir informieren dich regelmäßig zum Fortschritt.</p>

  <ion-button class="doitforme" (click)="doItForMe()" expand="full" color="danger">
    <strong>Mach du das für mich</strong>
  </ion-button>

</ion-content>