<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Versicherungen</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" height="50px" width="50px" id="logo" />

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-subtitle>Wichtige Versicherungen</ion-card-subtitle>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hiscox</ion-card-subtitle>
      <ion-card-title>43,46 €/Monat</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Programmierfehler und Sicherheitslücken
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Fehlerhafte oder verzögerte Leistungserbringung
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Urheberrechtsverletzung und Virenübertragung
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button>
        Wählen
      </ion-button>
      <ion-button color="medium">
        Mehr Information
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>exali</ion-card-subtitle>
      <ion-card-title>593,75 €/Jahr</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Prüfung von Ansprüchen
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Rechtsschutz-Funktion
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Schadenersatzzahlung
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label text-wrap>
        Risiko für Unternehmer minimieren
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button>
        Wählen
      </ion-button>
      <ion-button color="medium">
        Mehr Information
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button><ion-icon name="text" slot="start"></ion-icon> Hilf mir damit</ion-button> 
  </ion-fab>
</ion-content>