<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Steuererklärung 2018</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" width="40px" id="logo" />
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p padding-horizontal>Hallo {{ username }}</p>

  <p padding-horizontal>Möglicherweise kennst du dich schon ganz gut damit aus, wie man eine Steuererklärung
    erstellt.</p>
  <p padding-horizontal>Hier noch eine paar Hinweise, worüber du dich noch informieren könntest.</p>

  <ion-list inset="false">
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Investitionsabzugsbetrag geltend machen</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Geringwertige Wirtschaftsgüter abschreiben</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Riester-Zulage für Selbstständige</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Sonderabschreibung</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Ehepartner bei Abschreibungen</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Teilung von Bewirtungskosten</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Gewerbesteuer sparen durch Leasing</ion-item>
      <ion-item lines="full"><ion-icon name="checkmark" slot="start"></ion-icon>Gewerbesteuer mit einer Betriebsaufteilung sparen</ion-item>
  </ion-list>

</ion-content>