<ion-header>
  <ion-toolbar color="primary">
    <img src="../../assets/images/Blamo_logo_final.png" height="50px" width="50px" id="logo" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Herzlich Willkommen bei BlåMo.</p>
  <p padding-bottom>Wir helfen dir dabei, deine Freiberuflichkeit zu managen.

    Bitte gib uns zunächst folgende Daten:</p>
  <form [formGroup]="basicForm">
    <ion-list>
      <ion-item>
        <ion-label text-wrap position="floating">Wie heißt du?</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>Wie weit bist du mit deiner Gründung?</ion-label>
        <ion-select class="basicSelect" formControlName="founding_status">
          <ion-select-option [value]="preFounding">In Planung</ion-select-option>
          <ion-select-option [value]="duringFounding">In der Gründung</ion-select-option>
          <ion-select-option [value]="postFounding">Angemeldeter Freelancer</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>In welcher Branche bist du tätig?</ion-label>
        <ion-select class="basicSelect" formControlName="branche">
          <ion-select-option *ngFor="let brancheItem of branches" [value]="brancheItem">{{ brancheItem }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label text-wrap position="floating">Beschreibe deine Tätigkeit möglichst genau:</ion-label>
        <ion-input type="text" formControlName="occupation"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="primary" expand="full" id="submitButton" (click)="submit()" style="text-align: center">Weiter</ion-button>
    <!-- *ngIf="basicForm.valid" -->
  </form>
</ion-content>