#videoContainer {
    position: relative;
    margin: 20px;
    display: flex;
    align-content: center;
}

#agora_local{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 60px;
    right: 25px;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.remote-containers div{
    position: absolute;
    top: 50px;
    height: 550px;
    width: 100%;
}