<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Video-Chat mit deinem Experten</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" width="40px" id="logo" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="showSpinner">
    <p>Warte auf Berater...</p>
    <ion-spinner></ion-spinner>
  </ion-card>
  

  <div id="videoContainer">
    <div class="remote-containers">
      <div *ngIf="!showSpinner">
        <div class="remote_calls" *ngFor="let remote of remoteCalls;" [id]="remote">
      </div>
      </div>
      
    </div>

    <div id="agora_local" style="display:hidden">
    </div>


  </div>
  <ion-button (click)="endCall()" color="primary" id="submitButton"><ion-icon name="call"></ion-icon>&nbsp; Auflegen</ion-button>
</ion-content>