<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Updates</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" height="50px" width="50px" id="logo" />
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-card-header>
  <ion-card-title>Was gibt's neues?</ion-card-title>
</ion-card-header>

<ion-content padding>

  <div class="bigChip" *ngIf="badgeValue >= '1'">
    <ion-chip color="tertiary">
      <ion-label>Peter Steuermeister hat
        mit dem EÜR-Formular deiner Steuererklärung begonnen.
      </ion-label>
    </ion-chip>
  </div>

  <ion-chip color="tertiary" *ngIf="badgeValue === '2'">
    <ion-label>Das Finanzamt hat deine Steuererklärung angenommen.</ion-label>
  </ion-chip>

  <ion-chip color="success" *ngIf="badgeValue === '2'">
    <ion-label>Wow, tolle Nachricht. Du erhältst <strong>873,45€</strong> vom Finanzamt zurück!
    </ion-label>
  </ion-chip>




</ion-content>