<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Infos</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" width="40px" id="logo" />
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow us on Twitter
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        @ionicframework
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>