<ion-header>
    <ion-toolbar color="danger">
      <ion-title>Steuererklärung 2018</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <p>Hallo Franki.</p>
    <p>Deine Steuererklärung für letztes Jahr steht an. Wir haben in der App bereits Daten gesammelt,
      um dich bei deiner Steuererklärung zu unterstützen.</p>
  
    <ion-button href="/taxdeclaration1" expand="full" color="medium">Mach ich selbst</ion-button>
  
    <p><strong>Keine Zeit, keine Lust.</strong></p>
    <p>Einer unserer Steuerberater/innen wird sich darum kümmern und dich bei Fragen kontaktieren.</p>
    <p>Wir informieren dich regelmäßig zum Fortschritt.</p>
  
    <ion-button class="doitforme" (click)="doItForMe()" expand="full" color="danger">
        <strong>Mach &nbsp; du &nbsp; das &nbsp; für &nbsp; mich</strong>
    </ion-button>
  
  </ion-content>