<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Steuererklärung 2018</ion-title>
    <img src="../../assets/images/Blamo_logo_final.png" width="40px" id="logo" />
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Deine Steuererklärung für letztes Jahr steht an. Wir haben in der App bereits Daten gesammelt,
  damit es für dich einfacher ist.</p>
  <p>Willst du es selber machen?</p> 

  <ion-button href="/taxdeclaration1" expand="full" color="medium">Mach ich selbst</ion-button>

  <p><strong>Keine Zeit, keine Lust?</strong></p>
  <p>Einer unserer Steuerberater/innen wird sich darum kümmern und dich bei Fragen kontaktieren.</p>
  <p>Unsere App hält dich up to date</p>

  <ion-button class="doitforme" (click)="doItForMe()" expand="full" color="primary">
    <strong>Mach du das für mich</strong>
  </ion-button>

</ion-content>