<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Willkommen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>Hallo Franki</ion-card-title>
  </ion-card-header>

  <ion-fab vertical="top" horizontal="end">
    <ion-button href="/taxdeclaration" (click)="showChat()" color="danger">
      Chat
    </ion-button>
  </ion-fab>

  <ion-card>
    <ion-item href="/taxdeclaration" slot="start">
      <ion-card-content>
        Neu hier? Na, dann schau doch mal in unsere <strong>Einführung</strong>.
      </ion-card-content>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item href="/taxdeclaration" slot="start">
      <ion-card-content>    
        Welche <strong>Versicherungen</strong> sind für dich wirklich sinnvoll? Wir zeigen sie dir.
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showTaxDeclLink">
    <ion-item href="/taxdeclaration" slot="start">
      <ion-card-content>
        Es ist mal wieder Zeit für deine <strong>Steuererklärung</strong>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showInsuranceLink">
    <ion-item href="/insurance" slot="start">
      <ion-card-content>
        Dir felt noch die <strong>IT-Haftpflichtversicherung</strong>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" slot="start">
      <ion-card-content>
        <strong>Finanzierung</strong> benötigt? Wir zeigen dir, welche zu dir passt.
      </ion-card-content>
    </ion-item>
  </ion-card>


</ion-content>