<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ username }} blåmo</ion-title>
    <img src="../../assets/images/Blamo_logo_final_trimmed.png" height="50px" width="50px" id="logo" />
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card-header>
    <ion-card-title>Hallo {{ username }}</ion-card-title>
  </ion-card-header> -->

  <ion-fab vertical="top" horizontal="end">
    <ion-button href="/chat" color="primary">
      <ion-icon name="text" slot="start"></ion-icon> Chat
    </ion-button>
  </ion-fab>

  <p padding *ngIf="showCards < 6"><strong>{{analyseData}}</strong></p>
  <progress *ngIf="showCards < 6" value="{{showCards}}" max="5"></progress>

  <ion-card *ngIf="showCards >= 1">
    <ion-item href="" slot="start">
      <ion-card-content>
        Neu hier? Na, dann schau doch mal in unsere <strong>Einführung</strong>.
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showCards >= 3 && showTaxDeclLink">
    <ion-item href="/taxdeclaration" slot="start">
      <ion-card-content>
        Es ist mal wieder Zeit für deine <strong>Steuererklärung.</strong>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showCards >= 4">
    <ion-item href="/insurance" slot="start" (click)="showBadge()">
      <ion-card-content>
        Wir empfehlen dir eine <strong>IT-Haftpflichtversicherung.</strong>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showCards >= 5">
    <ion-item href="#" slot="start">
      <ion-card-content>
        <strong>Finanzierung</strong> benötigt? Wir zeigen dir, welche zu dir passt.
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showCards >= 6">
    <ion-item href="#" slot="start">
      <ion-card-content>
        Endlich im eigenen Büro arbeiten?
        Wir haben die richtigen <strong>Immobilienangebote</strong> für dich.
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showCards >= 2">
    <ion-item href="" slot="start">
      <ion-card-content>
        <strong>Steuern sparen</strong> kann so einfach sein. Belege sammeln leicht gemacht.
      </ion-card-content>
    </ion-item>
  </ion-card>


</ion-content>